body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#main {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
}

#products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.product {
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

    .product:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }

    .product img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .product h1 {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .product .price {
        font-size: 14px;
        color: #888;
        margin-bottom: 10px;
    }

    .product .quantity {
        font-size: 14px;
        color: #888;
    }

    .product .btn {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .product .btn:hover {
            background-color: #0056b3;
        }

.thongtin {
    margin: 12px 0%;
}

@media only screen (max-width: 700px) {
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
    }

    #main {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }

    #products {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
    }

    .product {
        border: 1px solid #ddd;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease;
    }

        .product:hover {
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        }

        .product img {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        .product h1 {
            font-size: 16px;
            margin-bottom: 5px;
        }

        .product .price {
            font-size: 14px;
            color: #888;
            margin-bottom: 10px;
        }

        .product .quantity {
            font-size: 14px;
            color: #888;
        }

        .product .btn {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

            .product .btn:hover {
                background-color: #0056b3;
            }

    .thongtin {
        margin: 12px 0%;
    }
}
